# This is the clang-format configuration file for the Iris Report
# (ImageAnalyser) project.

# You can find the documentation for clang-format here:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# The following configuration is based on the Donecle Code Formatting guidelines
# defined here:
# https://confluence.donecle.com/display/DON/Code+formatting
---
# Language options (These will change the formatting for a specific language)
Language: Cpp
Standard: c++17

# General options (These will change most of the formatting)
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 160
IndentWidth: 4
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
SpaceBeforeParens: Never

# Other options (These will change the formatting for a specific case)
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeColon
BreakBeforeBinaryOperators: NonAssignment
ConstructorInitializerAllOnOneLineOrOnePerLine : true
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
---
