# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeColon
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine : true
IndentWidth: 4
IndentCaseLabels: true
Language: Cpp
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpaceBeforeParens: Never
SeparateDefinitionBlocks: Always
---
